* {
	box-sizing: border-box;
}

h1 {
  color: red;
  background: yellow; 
  border: 5px solid black;
  padding: 20px;
  margin: 50px;
  width: 250px; 
  height: 250px; 
  
}

/*borders have 3 elements; size, style, color
padding is inside the element – within the border
vertical margin collapse – the top and bottom of the margin - vertical margins can 
overflow outside its container
*/

/*pixels vs percentages for widths – percentages are more responsive to different
browser conditions – specifying this is important 

width and height only apply to the content - border and padding are excluded 
you can set these so everything is included - this is called box-sizing
the '*' selector is a "wildcard" – it applies to everything on the page
*/

p {
  color: #0fa560;
  font-style: italic;
}

.before-list {
	font-size: 120%
}

.before-list, for-example {
	font-family: sans-serif; 
}
/*'.' before a selector indicates a class name
many html structure tags are too broad for effective styling
',' means "or"
*/

section.afterword p {
	font-style: italic;
	color: blue;
	
}
/*space means "inside"
the selector syntax is - a paragraph that is somewhere inside an section element with a 
class of afterword
more specific rules override more broad ones i.e. the afterword p is blue not green

you can add more specificity by putting an element name before the class indicator

*/

section.afterword p.goodbye {
	text-decoration: underline; 
}

a {
	text-decoration: none; 
}

a:hover{
	color: pink; 
	text-decoration: underline; 
}

/*
:hover is a pseudoclass – there others of these: :active, :focus, :visited, :hover, etc
*/



/*
= rule

h1 = selector
{} = set of declarations
color: red; = declaration
color = property
red = value
: = separates property and value
; = ends the declaration
*/

