/* Make sure that your css file is in the same folder as the corresponding html file */

h1 {
	color: red;
	font-size: 100px
}

p {
	color: #00aa66; 
	font-style: italic; 
}

/* h1 = selector 
{} = set of declarations
color = property 
red = value 
: = separates property and value 
; = ends the declarations 
the whole thing is called a rule
*/ 

/*hexidecimal code - base 16 1234567890abcdef - 16,000,000 possible colors*/
